# FastAPI Framework y dependencias core
fastapi
uvicorn[standard]
pydantic
pydantic-settings
email-validator

# Base de datos y ORM
sqlmodel
sqlalchemy

# Validación y utilidades
python-multipart
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt>=4.0.0,<5.0.0

# Testing
pytest
pytest-asyncio
httpx
requests
ruff
black
isort
pre-commit
